@font-face {
  font-family: Material Icons;
  font-style: normal;
  font-weight: 100 700;
  src: url(./assets/fonts/material-symbols.woff2) format('woff2');
}
@font-face {
  font-family: Handjet;
  src: url(./assets/fonts/Handjet/Handjet-VariableFont.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(./assets/fonts/Roboto_Flex/RobotoFlex.ttf);
}
@font-face {
  font-family: Special Elite;
  src: url(./assets/fonts/Special_Elite/SpecialElite-Regular.ttf);
}
@font-face {
  font-family: Josefin Sans;
  src: url(./assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}
@font-face {
  font-family: Josefin Sans;
  font-style: italic;
  src: url(./assets/fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: Lobster;
  src: url(./assets/fonts/Lobster/Lobster-Regular.ttf);
}
@font-face {
  font-family: Comfortaa;
  src: url(./assets/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
}
@font-face {
  font-family: Rubik Dirt;
  src: url(./assets/fonts/Rubik_Dirt/RubikDirt-Regular.ttf);
}
@font-face {
  font-family: Rubik Iso;
  src: url(./assets/fonts/Rubik_Iso/RubikIso-Regular.ttf);
}
@font-face {
  font-family: Black Ops One;
  src: url(./assets/fonts/Black_Ops_One/BlackOpsOne-Regular.ttf);
}
@font-face {
  font-family: Concert One;
  src: url(./assets/fonts/Concert_One/ConcertOne-Regular.ttf);
}
@font-face {
  font-family: Tourney;
  src: url(./assets/fonts/Tourney/Tourney-VariableFont_wdth.ttf);
}
@font-face {
  font-family: Tourney;
  font-style: italic;
  src: url(./assets/fonts/Tourney/Tourney-Italic-VariableFont_wdth.ttf);
}
@font-face {
  font-family: Dancing Script;
  src: url(./assets/fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf);
}
