@use 'sass:list';
@use 'sass:math';
$_fontsRoot: '.';

@font-face {
  font-family: Material Icons;
  font-style: normal;
  font-weight: 100 700;
  src: url(./#{$_fontsRoot}/material-symbols.woff2) format('woff2');
}

@font-face {
  font-family: Handjet;
  src: url(./#{$_fontsRoot}/Handjet/Handjet-VariableFont.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(./#{$_fontsRoot}/Roboto_Flex/RobotoFlex.ttf);
}

@font-face {
  font-family: Special Elite;
  src: url(./#{$_fontsRoot}/Special_Elite/SpecialElite-Regular.ttf);
}

@font-face {
  font-family: Josefin Sans;
  src: url(./#{$_fontsRoot}/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}

@font-face {
  font-family: Josefin Sans;
  font-style: italic;
  src: url(./#{$_fontsRoot}/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: Lobster;
  src: url(./#{$_fontsRoot}/Lobster/Lobster-Regular.ttf);
}

@font-face {
  font-family: Comfortaa;
  src: url(./#{$_fontsRoot}/Comfortaa/Comfortaa-VariableFont_wght.ttf);
}

@font-face {
  font-family: Rubik Dirt;
  src: url(./#{$_fontsRoot}/Rubik_Dirt/RubikDirt-Regular.ttf);
}

@font-face {
  font-family: Rubik Iso;
  src: url(./#{$_fontsRoot}/Rubik_Iso/RubikIso-Regular.ttf);
}

@font-face {
  font-family: Black Ops One;
  src: url(./#{$_fontsRoot}/Black_Ops_One/BlackOpsOne-Regular.ttf);
}

@font-face {
  font-family: Concert One;
  src: url(./#{$_fontsRoot}/Concert_One/ConcertOne-Regular.ttf);
}

@font-face {
  font-family: Tourney;
  src: url(./#{$_fontsRoot}/Tourney/Tourney-VariableFont_wdth.ttf);
}

@font-face {
  font-family: Tourney;
  font-style: italic;
  src: url(./#{$_fontsRoot}/Tourney/Tourney-Italic-VariableFont_wdth.ttf);
}

@font-face {
  font-family: Dancing Script;
  src: url(./#{$_fontsRoot}/Dancing_Script/DancingScript-VariableFont_wght.ttf);
}

$fontList: (
  'roboto': 'Roboto,  Verdana',
  'comfortaa': 'Comfortaa,  Verdana',
  'josefin-sans': 'Josefin Sans,  Verdana',
  'concert-one': 'Concert One,  Verdana',
  'special-elite': 'Special Elite,  Verdana',
  'tourney': 'Tourney,  Verdana',
  'rubik-iso': 'Rubik Iso,  Verdana',
  'rubik-dirt': 'Rubik Dirt,  Verdana',
  'lobster': 'Lobster,  Verdana',
  'dancing-script': 'Dancing Script,  Verdana',
  'black-ops-one': 'Black Ops One,  Verdana',
  'handjet': 'Handjet,  Verdana',
  'icon': 'Material Icons,  Verdana',
);

/** Fonts */
:root {
  @each $key, $value in $fontList {
    --font-#{$key}: $value;
  }
}

@each $key, $value in $fontList {
  .font-#{$key} {
    font-family: $value;
  }
}

.material-icons {
  font-family: Material Icons;
  font-weight: normal;
  font-style: normal;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.material-icons.fill {
  font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;
}
