@font-face {
  font-family: Material Icons;
  font-style: normal;
  font-weight: 100 700;
  src: url(././material-symbols.woff2) format("woff2");
}
@font-face {
  font-family: Handjet;
  src: url(././Handjet/Handjet-VariableFont.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(././Roboto_Flex/RobotoFlex.ttf);
}
@font-face {
  font-family: Special Elite;
  src: url(././Special_Elite/SpecialElite-Regular.ttf);
}
@font-face {
  font-family: Josefin Sans;
  src: url(././Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}
@font-face {
  font-family: Josefin Sans;
  font-style: italic;
  src: url(././Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: Lobster;
  src: url(././Lobster/Lobster-Regular.ttf);
}
@font-face {
  font-family: Comfortaa;
  src: url(././Comfortaa/Comfortaa-VariableFont_wght.ttf);
}
@font-face {
  font-family: Rubik Dirt;
  src: url(././Rubik_Dirt/RubikDirt-Regular.ttf);
}
@font-face {
  font-family: Rubik Iso;
  src: url(././Rubik_Iso/RubikIso-Regular.ttf);
}
@font-face {
  font-family: Black Ops One;
  src: url(././Black_Ops_One/BlackOpsOne-Regular.ttf);
}
@font-face {
  font-family: Concert One;
  src: url(././Concert_One/ConcertOne-Regular.ttf);
}
@font-face {
  font-family: Tourney;
  src: url(././Tourney/Tourney-VariableFont_wdth.ttf);
}
@font-face {
  font-family: Tourney;
  font-style: italic;
  src: url(././Tourney/Tourney-Italic-VariableFont_wdth.ttf);
}
@font-face {
  font-family: Dancing Script;
  src: url(././Dancing_Script/DancingScript-VariableFont_wght.ttf);
}
/** Fonts */
:root {
  --font-roboto: $value;
  --font-comfortaa: $value;
  --font-josefin-sans: $value;
  --font-concert-one: $value;
  --font-special-elite: $value;
  --font-tourney: $value;
  --font-rubik-iso: $value;
  --font-rubik-dirt: $value;
  --font-lobster: $value;
  --font-dancing-script: $value;
  --font-black-ops-one: $value;
  --font-handjet: $value;
  --font-icon: $value;
}

.font-roboto {
  font-family: "Roboto,  Verdana";
}

.font-comfortaa {
  font-family: "Comfortaa,  Verdana";
}

.font-josefin-sans {
  font-family: "Josefin Sans,  Verdana";
}

.font-concert-one {
  font-family: "Concert One,  Verdana";
}

.font-special-elite {
  font-family: "Special Elite,  Verdana";
}

.font-tourney {
  font-family: "Tourney,  Verdana";
}

.font-rubik-iso {
  font-family: "Rubik Iso,  Verdana";
}

.font-rubik-dirt {
  font-family: "Rubik Dirt,  Verdana";
}

.font-lobster {
  font-family: "Lobster,  Verdana";
}

.font-dancing-script {
  font-family: "Dancing Script,  Verdana";
}

.font-black-ops-one {
  font-family: "Black Ops One,  Verdana";
}

.font-handjet {
  font-family: "Handjet,  Verdana";
}

.font-icon {
  font-family: "Material Icons,  Verdana";
}

.material-icons {
  font-family: Material Icons;
  font-weight: normal;
  font-style: normal;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.material-icons.fill {
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 0, "opsz" 48;
}/*# sourceMappingURL=style.css.map */