<div class="flex wrap justify-center gap-2 mt-3">
  <mat-card *ngFor="let item of entities$ | async">
    <mat-card-header>
      <img matCardAvatar [src]="item.image" alt="Inventory logo" />
      <mat-card-title>{{ item.name }}</mat-card-title>
      <mat-card-subtitle>{{ item.description }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p i18n>{{ item.details }}</p>
      <p i18n>{{ item.details }}</p>
      <p i18n>{{ item.details }}</p>
      <p i18n>{{ item.details }}</p>
      <p i18n>{{ item.details }}</p>
      <p i18n>{{ item.details }}</p>
      <p i18n>{{ item.details }}</p>
      <p i18n>{{ item.details }}</p>
    </mat-card-content>

    <mat-card-actions class="flex justify-center mt-2 mb-1">
      <button
        mat-raised-button
        color="accent"
        [routerLink]="['../', item.route]"
        routerLinkActive="router-link-active"
        i18n
      >
        Subscribe
      </button>
    </mat-card-actions>
  </mat-card>
</div>
