::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: crimson;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: crimson;
}
/* Style the scrollbar thumb when it's in an active state (e.g., when scrolling) */
::-webkit-scrollbar-thumb:active {
  background: crimson;
}

::-webkit-scrollbar-track {
  background-color: gray;
}

::-webkit-scrollbar-track:active {
  background-color: gray;
}
::-webkit-scrollbar-track:hover {
  background-color: gray;
}

/* Style the scrollbar corner (the intersection between the horizontal and vertical scrollbars) */
::-webkit-scrollbar-corner {
  background: crimson;
}
