.sticky-note {
  width: 100px;
  height: 100px;
  font-family: Comfortaa;
  border: 1px solid royalblue;
  display: inline-block;
  box-sizing: border-box;
  cursor: move;
}

.sticky-note:-moz-drag-over{ 
    cursor: move !important;
}
.container {
  border: 3px solid orange;
  padding: 1em;
  width: 600px;
  height: 600px;
  display: block;
}
