<%- include('partials/divider') -%>

<div style="text-align: center">
  <%- include('partials/logo'); -%>
  <p style="font-size: 0.8em; color: rgb(119, 119, 119); text-align: center">
    <i>
      Email is sent by
      <strong> <a href="https://webtelescope.tech"> Web Telescope</a></strong>
    </i>
  </p>
</div>
