<wt-app-layout
  rightSidenavToggleIcon="apps"
  [leftSidenavToggleLabel]="MM.TOGGLE_LEFT_SIDENAV"
  [rightSidenavToggleLabel]="MM.TOGGLE_RIGHT_SIDENAV"
>
  <!-- Toobar Left -->
  <ng-template wtToolbarLeft>
    <h1 class="app-title pv-2">{{ title.getTitle() }}</h1>
  </ng-template>

  <!-- Toobar Right -->
  <ng-template wtToolbarRight>
    <button mat-icon-button></button>
  </ng-template>

  <!-- Sidenav Left -->
  <ng-template wtSidenavLeft>
    <wt-nav-list title="Main" [items]="leftNavList"></wt-nav-list>
  </ng-template>

  <!-- Sidenav Right -->
  <ng-template wtSidenavRight>
    <wt-nav-list
      [title]="MM.ADMINISTRATIVE"
      [items]="rightNavList"
    ></wt-nav-list>
  </ng-template>

  <!-- Statusbar Left -->
  <ng-template wtStatusbarLeft>
    <button mat-icon-button>
      <mat-icon>help</mat-icon>
    </button>
  </ng-template>

  <!-- Statusbar Right -->
  <ng-template wtStatusbarRight>
    <button mat-icon-button [ariaLabel]="MM.NOTIFICATIONS">
      <mat-icon>notifications</mat-icon>
    </button>
  </ng-template>

  <!-- Floating Items -->
  <ng-template wtFloatingItems>
    <button mat-fab [ariaLabel]="MM.CHAT_WITH_US">
      <mat-icon>chat</mat-icon>
    </button>
  </ng-template>

  <!-- Main Content -->
  <ng-template wtMainContent>
    <router-outlet></router-outlet>
  </ng-template>
</wt-app-layout>
