<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Template</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body class="template">
    <div class="container">
      <h1 class="title"><%- subject %></h1>

      <p class="text"><%- message %></p>

      <table>
        <tr>
          <td><strong>Security Code:</strong></td>
          <td><%- securityCode %></td>
        </tr>
      </table>

      <div class="divider"></div>

      <a
        class="button primary"
        href="https://<%- domain %>/auth/reset-password/?token=<%- token %>"
      >
        Reset Password
      </a>

      <div class="divider"></div>

      <p class="mute center">
        <i>
          Email is sent by
          <strong>
            <a href="https://<%- domain %>"><%- companyName %></a></strong
          >
        </i>
      </p>
    </div>
  </body>

  <script src="./app.js"></script>
</html>
