@import 'vars';

.common-button-style {
  box-sizing: border-box;
  border: 3px double transparent;
  outline: none;
  text-transform: capitalize;
  letter-spacing: 1px;
  border-radius: var(--tb-button-border-radius);

  padding-left: 1em;
  padding-right: 1em;
  min-width: var(--tb-button-min-width);
  min-height: var(--tb-button-min-height);

  display: flex;
  flex-direction: row;
  // gap: 1em;
  gap: 0.3em;
  justify-content: center;
  align-items: center;

  font-family: var(--font-family);
  font-size: var(--tb-button-font-size);

  font-weight: 700;
  letter-spacing: 0.1em;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;

  user-select: none;
}

.tb-flat-button {
  @extend .common-button-style;
}

.tb-raised-button {
  @extend .common-button-style;
}

.tb-text-button {
  @extend .common-button-style;
}

.tb-flat-icon-button {
  @extend .common-button-style;
  font-family: Icon;
}

.common-icon-button {
  outline: 0px;
  margin: 0px;
  padding: 0px;
  user-select: none;
  cursor: pointer;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tb-icon-button {
  @extend .common-icon-button;
  @extend .center;
  border-radius: var(--tb-icon-button-border-radius);
  border: var(--tb-icon-button-border);
  font-size: var(--tb-icon-button-font-size);
  font-family: Icon;
  width: var(--tb-icon-button-width);
  height: var(--tb-icon-button-height);
}
.tb-icon-button-small {
  @extend .common-icon-button;
  @extend .center;
  border-radius: var(--tb-icon-button-border-radius);
  border: var(--tb-icon-button-border);
  font-size: var(--tb-icon-button-small-font-size);
  font-family: Icon;
  width: var(--tb-icon-button-small-width);
  height: var(--tb-icon-button-small-height);
}

.tb-flat-icon-button {
  @extend .common-icon-button;
  border: none;
  font-size: var(--tb-flat-icon-button-font-size);
  min-width: var(--tb-flat-icon-button-min-width);
  min-height: var(--tb-flat-icon-button-min-height);
  width: var(--tb-flat-icon-button-width);
  height: var(--tb-flat-icon-button-height);
  background-color: transparent;
}

.tb-flat-button,
.tb-raised-button,
.tb-text-button {
  > .icon {
    font-size: 2em;
  }
  > .tb-button-label {
    order: 2;
  }
}

.tb-flat-button.icon-position-right,
.tb-raised-button.icon-position-right,
.tb-text-button.icon-position-right {
  justify-content: space-between;
  .tb-button-icon {
    order: 3;
  }
}

.tb-flat-button.icon-position-left,
.tb-raised-button.icon-position-left,
.tb-text-butto.icon-position-left {
  justify-content: flex-start;
  gap: 0.6em;
  .tb-button-icon {
    order: 1;
  }
}

// raised
// flat
// icon
// text

@each $colorName in $colorNames {
  .tb-raised-button.#{$colorName} {
    box-shadow: 0px 0px 5px #{var(--#{$colorName}-dark)};
  }

  .tb-icon-button-small.#{$colorName} {
    box-shadow: 0px 0px 5px #{var(--#{$colorName}-dark)};
  }

  .tb-icon-button.#{$colorName} {
    box-shadow: 0px 0px 5px #{var(--#{$colorName}-dark)};
  }

  .tb-text-button.#{$colorName} {
    color: var(--#{$colorName}) !important;
    background-color: transparent !important;
  }

  @each $buttonName in (flat, raised, text, icon) {
    .tb-#{$buttonName}-button.#{$colorName} {
      color: var(--#{$colorName}-face);
      background-color: var(--#{$colorName});
    }

    .tb-#{$buttonName}-button.#{$colorName}:hover,
    .tb-#{$buttonName}-button.#{$colorName}:focus {
      background-color: var(--#{$colorName}-dark);
      color: var(--#{$colorName}-dark-face);
      border-color: var(--#{$colorName}-lighter);
    }

    .tb-#{$buttonName}-button.#{$colorName}:active {
      background-color: var(--#{$colorName}-darker);
      color: var(--#{$colorName}-darker-face);
      border-color: var(--#{$colorName});
      box-shadow: inset 0px 0px 3px var(--#{$colorName}-light);
    }
  }

  .tb-flat-icon-button.#{$colorName} {
    color: var(--#{$colorName});
    background-color: transparent;
  }

  .tb-flat-icon-button.#{$colorName}:hover,
  .tb-flat-icon-button.#{$colorName}:focus {
    color: var(--#{$colorName}-dark);
  }

  .tb-flat-icon-button.#{$colorName}:active {
    color: var(--#{$colorName}-darker);
  }
}
