@import 'vars'; 

@each $colorName in #{$colorNames} {
  .tb-dropdown-items.#{$colorName} {
    --arrow-color:var(--#{$colorName});
  }
}

.tb-dropdown-menu {
  position: relative;
  align-self: flex-start;
  width: fit-content;
}

.tb-dropdown-items {
  --scale: 0;
  visibility: collapse;
  position: absolute;
  opacity: 0;
  transform: translate(var(--x), var(--y)) scale(var(--scale));
  width: fit-content;
  box-sizing: border-box;
  z-index: 1;
}

.tb-dropdown-menu:hover>.tb-dropdown-items {
  --scale: 1;
  opacity: 1;
  transition: transform 200ms ease-in-out, opacity 1000ms ease-in-out;
}

.bottom.tb-dropdown-menu:hover>.tb-dropdown-items {
  --scale: 1;
  --x: -50%;
  --y: 100%;
  left: 50%;
  bottom: 0px;
  border-top: 1em solid transparent;
  transform-origin: top center;
  visibility: visible;
}

.right.tb-dropdown-menu:hover>.tb-dropdown-items {
  --scale: 1;
  --x: 100%;
  --y: 0%;
  top: 0px;
  right: 0px;
  border-left: 1em solid transparent;
  transform-origin: left center;
  visibility: visible;
}

.left.tb-dropdown-menu:hover>.tb-dropdown-items {
  --scale: 1;
  --x: -100%;
  --y: 0%;
  top: 0px;
  left: 0px;
  border-right: 1em solid transparent;
  transform-origin: right center;
  visibility: visible;
}

.top.tb-dropdown-menu:hover>.tb-dropdown-items {
  --scale: 1;
  --x: -50%;
  --y: -100%;
  left: 50%;
  top: 0px;
  border-bottom: 1em solid transparent;
  transform-origin: bottom center;
  visibility: visible;
}

/** Arrow */

.bottom.tb-dropdown-menu>.tb-dropdown-items::before {
  content: '';
  position: absolute;
  border: 0.4em solid transparent;
  border-bottom-color: var(--arrow-color);
  top: 0px;
  left: 50%;
  transform: translate(-50%, -100%);
  transform-origin: top center;
}


.top.tb-dropdown-menu>.tb-dropdown-items::before {
  content: '';
  position: absolute;
  border: 0.4em solid transparent;
  border-top-color: var(--arrow-color);
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 100%);
  transform-origin: bottom center;
}



.right.tb-dropdown-menu>.tb-dropdown-items::before {
  content: '';
  position: absolute;
  border: 0.4em solid transparent;
  border-right-color: var(--arrow-color);
  top: 0px;
  left: 0px;
  transform: translate(-100%, 1em);
  transform-origin: left center;
}

.left.tb-dropdown-menu>.tb-dropdown-items::before {
  content: '';
  position: absolute;
  border: 0.4em solid transparent;
  border-left-color: var(--arrow-color);
  top: 0px;
  right: 0px;
  transform: translate(100%, 1em);
  transform-origin: right center;
}