$displays: (
  block,
  contents,
  flex,
  flexbox,
  flow-root,
  grid,
  inline,
  inline-block,
  inline-flex,
  inline-flexbox,
  inline-table,
  list-item,
  none,
  ruby,
  ruby-base,
  ruby-base-container,
  ruby-text,
  run-in,
  table,
  table-caption,
  table-cell,
  table-column,
  table-column-group,
  table-footer-group,
  table-header-group,
  table-row,
  table-row-group
);

@each $d in $displays {
  .#{$d} {
    display: $d;
  }
}

$flexDirections: (column, column-reverse, row, row-reverse);

@each $fd in $flexDirections {
  .#{$fd} {
    flex-direction: $fd;
  }
}

$justifyContent: (
  baseline,
  center,
  end,
  first baseline,
  flex-end,
  flex-start,
  last baseline,
  left,
  right,
  safe,
  space-around,
  space-between,
  space-evenly,
  start,
  stretch,
  unsafe
);

@each $jc in $justifyContent {
  .justify-#{$jc} {
    justify-content: $jc;
  }
}

$alignItems: (
  stretch,
  flex-start,
  flex-end,
  center,
  baseline,
  first baseline,
  last baseline
);

@each $ai in $alignItems {
  .align-#{$ai} {
    align-items: $ai;
  }
}

$alignContent: (
  stretch,
  flex-start,
  flex-end,
  center,
  space-between,
  space-around,
  space-evenly,
  start,
  end,
  baseline
);

@each $ac in $alignContent {
  .align-content-#{$ac} {
    align-content: $ac;
  }
}

// Min: 0.05em
// Max: 5em
@for $size from 1 through 100 {
  .gap-#{$size} {
    gap: #{$size * 0.05}em;
  }
}

@for $order from 1 through 100 {
  .order-#{$order} {
    order: #{$order};
  }
}

@for $size from 1 through 100 {
  .grow-#{$size} {
    flex-grow: #{$size};
  }
}

.wrap {
  flex-wrap: wrap;
}
.nowrap {
  flex-wrap: nowrap;
}

.inline-container {
  @extend .flex;
  @extend .row;
  @extend .grow-1;
  @extend .gap-2;
}

.container {
  @extend .flex;
  @extend .column;
  @extend .grow-1;
  @extend .gap-2;
}

.table-container {
  @extend .flex;
  @extend .row;
  @extend .justify-space-between;
  @extend .grow-1;
  @extend .gap-2;
}

.card-container {
  @extend .flex;
  @extend .row;
  @extend .justify-space-around;
  @extend .grow-1;
  @extend .gap-2;
}
