@import 'vars';

@mixin __column($gap) {
  display: flex;
  flex-direction: column;
  gap: #{$gap};
}

@mixin __row($gap) {
  display: flex;
  flex-direction: row;
  gap: #{$gap};
}

@mixin __borderRadius() {
  border-radius: var(--tb-form-field-radius);
}

@mixin __containerPadding() {
  padding: var(--tb-form-field-container-padding);
}

@mixin __inputFieldPadding() {
  padding: var(--tb-form-field-padding);
}

@mixin __lightFont() {
  font-family: var(--font-family);
  font-size: var(--tb-form-field-input-font-size);
  font-weight: var(--tb-form-field-input-font-weight);
}

@mixin __boldFont() {
  @include __lightFont();
  font-weight: 600;
}

@mixin __columnCenter() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tb-form {
  @include __column(20px);
}

.tb-form-field-container {
  @include __column(10px);
  @include __containerPadding();
  @include __borderRadius();
  @include __containerPadding();

  min-width: 200px;
}

.tb-form-field-label {
  @include __boldFont();
  padding-left: var(--tb-form-field-padding);
}

.tb-form-field {
  @include __row(0px);
  @include __borderRadius();
}

.tb-form-field-input {
  @include __lightFont();
  @include __inputFieldPadding();
  @include __borderRadius();
  height: var(--tb-form-field-input-height);
  width: 100%;
  order: 2;

  outline: none;
}

@function iconOrder($side) {
  @if $side == right {
    @return 3;
  } @else {
    @return 1;
  }
}
@mixin commonFormFieldIcon($side) {
  @include __columnCenter();
  height: var(--tb-form-field-input-height);

  border-top-#{$side}-radius: var(--tb-form-field-radius);
  border-bottom-#{$side}-radius: var(--tb-form-field-radius);
  padding-left: 10px;
  padding-right: 10px;
  order: iconOrder($side);
}

.tb-form-field.icon-position-right {
  .tb-form-field-input {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .tb-form-field-icon {
    @include commonFormFieldIcon(right);
  }
}

.tb-form-field.icon-position-left {
  .tb-form-field-input {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
  }

  .tb-form-field-icon {
    @include commonFormFieldIcon(left);
  }
}

.tb-form-field-error {
  @include __row(20px);
  @include __borderRadius();
  @include __lightFont();

  @include __inputFieldPadding();
  align-items: center;
  background-color: var(--red);
  color: var(--red-face);
}

@each $colorName in $colorNames {
  .tb-form-field-container.#{$colorName} {
    background-color: var(--#{$colorName});
    color: var(--#{$colorName}-face);
    // background-color: var(--white);
    // color: var(--black);

    .tb-form-field-input:active,
    .tb-form-field-input:focus {
      border: 3px solid var(--#{$colorName}-dark);
    }

    .tb-form-field-icon {
      background-color: var(--#{$colorName}-dark);
      color: var(--#{$colorName}-face);
    }
  }

  .tb-form-field-container.#{$colorName}:has(input:active),
  .tb-form-field-container.#{$colorName}:has(input:focus) {
    outline: 3px solid var(--#{$colorName}-darker);
    transition: outline-width ease 100ms;
  }

  .tb-form-field-input.#{$colorName} {
    border: 3px double var(--#{$colorName}-dark);
  }
}

.tb-form-checkbox {
  font-size: 2em;
  cursor: pointer;
}
