* {
  box-sizing: border-box;
}
html,
body {
  width: var(--root-width);
  height: var(--root-height);
  overflow: var(--root-overflow);
  padding: var(--root-padding);
  margin: var(--root-margin);
  position: var(--root-position);
  font-size: var(--root-font-size);
  font-family: var(--root-font-family);
  background-color: var(--root-surface);
  color: var(--root-face);
}

:fullscreen {
  background-color: var(--light);
}

@media (prefers-color-scheme: dark) {
  :fullscreen {
    background-color: var(--dark);
  }
  html,
  body {
    background-color: var(--dark);
  }
}
