@import 'vars';
img {
  border: none;
  outline: none;
}
.avatar {
  width: var(--tb-avatar-width);
  height: var(--tb-avatar-height);
  min-width: var(--tb-avatar-min-width);
  min-height: var(--tb-avatar-min-height);
  max-width: var(--tb-avatar-max-width);
  max-height: var(--tb-avatar-max-height);
  border-radius: var(--tb-avatar-border-radius);
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--white);
}

@each $colorName in $colorNames {
  .avatar.#{$colorName} {
    background-color: var(--#{$colorName});
    color: var(--#{$colorName}-face);
  }
}

.profile {
  min-width: var(--tb-profile-min-width);
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: var(--tb-profile-gap);
}

.profile-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-title {
  font-size: var(--tb-profile-title-font-size);
  font-weight: var(--tb-profile-title-font-weight);
}

.profile-subtitle {
  font-size: var(--tb-profile-subtitle-font-size);
  font-weight: var(--tb-profile-subtitle-font-weight);
  letter-spacing: var(--tb-profile-subtitle-letter-spacing);
}
