@import 'vars';

@function isDarkHue($color) {
  $hue: hue($color);
  @if $hue <=25 or $hue >190 {
    @return true;
  } @else {
    @return false;
  }
}

@function faceColor($color) {
  $light: lightness($color);
  $saturation: saturation($color);
  $hue: hue($color);
  @if isDarkHue($color) ==true {
    @if $light >65 {
      @return var(--black);
    } @else {
      @return var(--white);
    }
  } @else {
    @if $light >40 {
      @return var(--black);
    } @else {
      @return var(--white);
    }
  }
}

@mixin createColorGlobals($name, $color) {
  --#{$name}: #{$color};
  --#{$name}-face: #{faceColor($color)};

  --#{$name}-dark: #{darken($color, 10%)};
  --#{$name}-dark-face: #{faceColor(darken($color, 10%))};

  --#{$name}-darker: #{darken($color, 20%)};
  --#{$name}-darker-face: #{faceColor(darken($color, 20%))};

  --#{$name}-light: #{lighten($color, 10%)};
  --#{$name}-light-face: #{faceColor(lighten($color, 10%))};

  --#{$name}-lighter: #{lighten($color, 20%)};
  --#{$name}-lighter-face: #{faceColor(lighten($color, 20%))};

  @for $opacity from 1 to 10 {
    --#{$name}-opacity-#{$opacity}: #{rgba($color, $opacity * 0.1)};
  }
}

// Select theme by name
@mixin selectTheme($themeName) {
  $theme: map-get($themes, $themeName);
  :root {
    @each $name, $color in map-merge($theme, $commonColors) {
      @include createColorGlobals($name, $color);
    }
  }
}

// Common color classes
@each $colorName, $__ in $commonColors {
  .#{$colorName} {
    color: var(--#{$colorName});
  }
  .bg-#{$colorName} {
    background-color: var(--#{$colorName});
  }
  @each $variant in (dark, darker, light, lighter, face) {
    .bg-#{$colorName}-#{$variant} {
      background-color: var(--#{$colorName}-#{$variant});
    }

    .#{$colorName}-#{$variant} {
      color: var(--#{$colorName}-#{$variant});
    }
  }
}

// Color classes
@each $colorName in $colorNames {
  .#{$colorName} {
    color: var(--#{$colorName});
  }
  .bg-#{$colorName} {
    background-color: var(--#{$colorName});
  }

  @each $variant in (dark, darker, light, lighter, face) {
    .bg-#{$colorName}-#{$variant} {
      background-color: var(--#{$colorName}-#{$variant});
    }

    .#{$colorName}-#{$variant} {
      color: var(--#{$colorName}-#{$variant});
    }
  }
}
